<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685804236638-goeau4nlna943p05jg8t3tijh4gf8kq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685804236638-goeau4nlna943p05jg8t3tijh4gf8kq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBK7ylup0ozDdmFi6m-9vJ0pErKqIC_sJE</string>
	<key>GCM_SENDER_ID</key>
	<string>685804236638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ferflores.PruebaNach</string>
	<key>PROJECT_ID</key>
	<string>guardarimagenes-37775</string>
	<key>STORAGE_BUCKET</key>
	<string>guardarimagenes-37775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685804236638:ios:4ae257013ce55c3d80a9cf</string>
</dict>
</plist>